<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('模板新增')"/>
</head>
<body>
<form class="layui-form" action="">
  <div class="mainBox">
    <div class="main-container">
      <div class="main-container">
        <div class="layui-form-item">
          <label class="layui-form-label required">属性名称</label>
          <div class="layui-input-block">
            <input type="text" name="fieldName" lay-verify="required" autocomplete="off"
                   placeholder="请输入名称"
                   class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">是否必填</label>
          <div class="layui-input-block">
            <select name="required">
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">显示类型</label>
          <div class="layui-input-block">
            <select name="type" lay-filter="type-filter">
              <option value="SELECT">下拉框</option>
              <option value="INPUT">文本框</option>
              <option value="TEXTAREA">文本域</option>
            </select>
          </div>
        </div>

        <div class="layui-form-item" id="dictTypeCodeDiv">
          <label class="layui-form-label">字典类型</label>
          <div class="layui-input-block">
            <select name="dictTypeCode" id="dictTypeCode" th:with="types=${@dict.getDictTypes()}">
              <option value="">请选择</option>
              <option th:each="dict : ${types}" th:text="${dict.name}" th:value="${dict.code}"></option>
            </select>
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">排序</label>
          <div class="layui-input-block">
            <input value=1 type="number" name="orderNum" autocomplete="off" placeholder="排序" class="layui-input">
          </div>
        </div>

<!--        <div class="layui-form-item">-->
<!--          <label class="layui-form-label">标题宽度</label>-->
<!--          <div class="layui-input-block">-->
<!--            <input value=1 type="number" name="displayWidth" autocomplete="off" placeholder="排序" class="layui-input">-->
<!--          </div>-->
<!--        </div>-->


      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="button-container">
      <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
              lay-filter="template-save">
        <i class="layui-icon layui-icon-ok"></i>
        提交
      </button>
      <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
        <i class="layui-icon layui-icon-refresh"></i>
        重置
      </button>
    </div>
  </div>
</form>
<th:block th:include="include :: footer"/>
<script>
  layui.use(['form', 'jquery'], function () {
    let form = layui.form;
    let $ = layui.jquery;

    // select 事件
    form.on('select(type-filter)', function(data){
      // var elem = data.elem; // 获得 select 原始 DOM 对象
      var value = data.value; // 获得被选中的值
      console.log(value);
      if (value == "INPUT"){
        $("#dictTypeCodeDiv").hide();
        $("#dictTypeCode").val("");
      }else if (value == "SELECT"){
        $("#dictTypeCodeDiv").show();
      }
    });


    form.on('submit(template-save)', function (data) {
      let loading = layer.load();
      $.ajax({
        url: rootPath + '/TemplateController/add',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'post',
        success: function (result) {
          layer.close(loading);
          if (result.code === 200) {
            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
              parent.layui.table.reload("template-table");
            });
          } else {
            layer.msg(result.msg, {icon: 2, time: 1000});
          }
        }
      })
      return false;
    });
  })
</script>
</body>
</html>