<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('用户列表')"/>
</head>
<body class="pear-container">
<!--<div class="layui-card">-->
<!--  <div class="layui-card-body">-->
<!--  </div>-->
<!--</div>-->
<div class="layui-card">
  <div class="layui-card-body">
    <table id="template-table" lay-filter="template-table"></table>
  </div>
</div>
</body>

<script type="text/html" id="role-toolbar">
  <button sa:hasPermission="system:template:add" class="pear-btn pear-btn-primary pear-btn-md"
          lay-event="add">
    <i class="layui-icon layui-icon-add-1"></i>
    新增
  </button>
  <button sa:hasPermission="system:template:remove" class="pear-btn pear-btn-danger pear-btn-md"
          lay-event="batchRemove">
    <i class="layui-icon layui-icon-delete"></i>
    删除
  </button>
</script>

<script type="text/html" id="template-bar">

  <button sa:hasPermission="system:template:edit" class="pear-btn pear-btn-primary pear-btn-sm"
          lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
  </button>

  <button sa:hasPermission="system:template:remove" class="pear-btn pear-btn-danger pear-btn-sm"
          lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
  </button>


  <button sa:hasPermission="system:template:editPwd" class="pear-btn pear-btn-warming pear-btn-md"
          lay-event="editPwd"><i class="layui-icon layui-icon-password"></i>
  </button>


</script>

<th:block th:include="include :: footer"/>
<script>
  layui.use(['table', 'form', 'jquery'], function () {
    let table = layui.table;
    let form = layui.form;
    let $ = layui.jquery;

    let MODULE_PATH = rootPath + "/TemplateController";
    let cols = [
      [
        {type: 'checkbox'},
        // {title: '字段编码', field: 'fieldKey', align: 'center'},
        {title: '属性名称', field: 'fieldName', align: 'center'},
        {title: '显示类型', field: 'type', align: 'center'},
        {title: '是否必填', field: 'required', align: 'center'},
        {title: '字典类型', field: 'dictTypeCode', align: 'center'},
        {title: '操作', toolbar: '#template-bar', align: 'center'}
      ]
    ]

    //table表单列表
    table.render({
      elem: '#template-table',
      url: MODULE_PATH + '/list',
      page: false,
      method: 'get',
      where: form.val("template_form"),
      cols: cols,
      skin: 'line',
      toolbar: '#role-toolbar',
      defaultToolbar: [{
        layEvent: 'refresh',
        icon: 'layui-icon-refresh',
      }, 'filter']
    });

    //table图标事件绑定
    table.on('tool(template-table)', function (obj) {
      if (obj.event === 'remove') {
        window.remove(obj);
      } else if (obj.event === 'edit') {
        window.edit(obj);
      } else if (obj.event === 'editPwd') {
        window.editPwd(obj);
      }else if (obj.event === 'updateStatus'){
        window.updateStatus(obj);
      }
    });

    //table工具栏绑定
    table.on('toolbar(template-table)', function (obj) {
      if (obj.event === 'add') {
        window.add();
      } else if (obj.event === 'refresh') {
        window.refresh();
      } else if (obj.event === 'batchRemove') {
        window.batchRemove(obj);
      }
    });

    //查询按钮绑定
    form.on('submit(template_query)', function (data) {
      table.reload('template-table', {where: data.field})
      return false;
    });

    //添加
    window.add = function () {
      layer.open({
        type: 2,
        title: '新增',
        shade: 0.1,
        area: ['550px', '550px'],
        content: MODULE_PATH + '/add'
      });
    }
    //修改
    window.edit = function (obj) {
      layer.open({
        type: 2,
        title: '修改',
        shade: 0.1,
        area: ['550px', '550px'],
        content: MODULE_PATH + '/edit/' + obj.data['id']
      });
    }




    window.remove = function (obj) {
      layer.confirm('确定要删除该属性', {icon: 3, title: '提示'}, function (index) {
        layer.close(index);
        let loading = layer.load();
        $.ajax({
          url: MODULE_PATH + "/remove?ids=" + obj.data['id'],
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading);
            if (result.code === 200) {
              layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                obj.del();
              });
            } else {
              layer.msg(result.msg, {icon: 2, time: 1000});
            }
          }
        })
      });
    }

    //批量删除
    window.batchRemove = function (obj) {
      let data = table.checkStatus(obj.config.id).data;
      if (data.length === 0) {
        layer.msg("未选中数据", {icon: 3, time: 1000});
        return false;
      }
      let ids = [];
      for (let i = 0; i < data.length; i++) {
        ids.push(data[i].id);
      }
      layer.confirm('确定要删除这些用户', {icon: 3, title: '提示'}, function (index) {
        layer.close(index);
        let loading = layer.load();
        $.ajax({
          url: MODULE_PATH + "/remove?ids=" + ids,
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading);
            if (result.code === 200) {
              layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                table.reload('template-table');
              });
            } else {
              layer.msg(result.msg, {icon: 2, time: 1000});
            }
          }
        })
      });
    }
    //刷新按钮
    window.refresh = function () {
      table.reload('template-table');
    }
  })
</script>
</html>