<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('模板新增')"/>
</head>
<body>
<form class="layui-form" action="">
  <div class="mainBox">
    <div class="main-container" id="form-container">
      <!--      <div class="main-container">-->

      <!--      </div>-->
    </div>
  </div>
  <div class="bottom">
    <div class="button-container">
      <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
              lay-filter="customer-save">
        <i class="layui-icon layui-icon-ok"></i>
        提交
      </button>
      <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
        <i class="layui-icon layui-icon-refresh"></i>
        重置
      </button>
    </div>
  </div>
</form>
<th:block th:include="include :: footer"/>
<script>
  layui.use(['form', 'jquery'], function () {
    let form = layui.form;
    let $ = layui.jquery;
    let MODULE_PATH = rootPath + "/CustomerController";

    $.ajax({
      url: MODULE_PATH + "/cols",
      dataType: 'json',
      type: 'GET',
      success: function (result) {
        $.each(result, function (index, obj) {
          var formItem = `<div class='layui-form-item' id='item-${index}'></div>`;
          var labelClass = '';
          var inputVerify = '';
          if (obj.required == true) {
            labelClass = "layui-form-label required"
            inputVerify = 'lay-verify="required"'
          } else {
            labelClass = "layui-form-label"
          }
          var label = `<label class="${labelClass}">${obj.fieldName}</label>`;
          var input = ` <div class="layui-input-block"><input type="text" id = "${obj.id}" lay-verify="${obj.id}" name="${obj.id}" class="layui-input" ${inputVerify}></div>`
          if (obj.type === 'TEXTAREA') {
            input = ` <div class="layui-input-block"><textarea name="${obj.id}" class="layui-input" ${inputVerify}></textarea></div>`
          }

          if (obj.type === 'SELECT') {
            var option = ' <option value="">请选择</option>'
            $.each(obj.dictDataMap, function (key, value) {
              option += `<option value="${key}">${value}</option>`
            })
            input = ' <div class="layui-input-block">\n'
                + `<select name="${obj.id}" ${inputVerify}>`
                + option
                + '</select>'
                + '</div>'
          }
          $("#form-container").append(formItem);
          $(`#item-${index}`).append(label)
          $(`#item-${index}`).append(input)
        });
        form.render();
        $(function () {
          //输入框的值改变时触发
          $("#1672263140513890306").on("input", function (e) {
            //获取input输入的值
            console.log(e.delegateTarget.value);
            $.ajax({
              url: MODULE_PATH + '/checkName',
              data: {
                "customerName": e.delegateTarget.value
              },
              dataType: 'json',
              type: 'GET',
              success: function (result) {
                if (result.code !== 200) {
                  layer.msg(result.msg, {icon: 2, time: 2000});
                }
              }
            });

          })
        })
      }
    })

    // 自定义验证规则
    form.verify({
      '1672263140513890306': function(value, elem) {
        console.log(value); // 当前进入验证的表单项的值
        console.log(elem); // 当前进入验证的表单项的 DOM 元素
        // 校验客户名称是否已经存在
        var msg = "";

        if (msg !== "") {
          console.log(msg);
            return msg;
        }
      }
    });

    function addAjax(data) {
      let loading = layer.load();
      $.ajax({
        url: MODULE_PATH + '/add',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'post',
        success: function (result) {
          layer.close(loading);
          if (result.code === 200) {
            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
              if ([[${session.admin}]]) {
                parent.layui.table.reload("customer-table");
              }
            });
          } else {
            layer.msg(result.msg, {icon: 2, time: 1000});
          }
        }
      })
    }

    form.on('submit(customer-save)', function (data) {
      if ([[${session.admin}]]) {
        addAjax(data);
        return false;
      }

      layer.prompt({
        formType: 2,
        title: '请添加新增客户说明',
        // area: ['800px', '350px'] //自定义文本域宽高
      }, function (value, index, elem) {
        if (value.trim().length === 0) {
          return false;
        }
        data.field.description = value.trim();
        addAjax(data);
      })
      return false;
    });
  })
</script>
</body>
</html>