<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastproject.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.fastproject.model.Permission">
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="url" jdbcType="VARCHAR" property="url"/>
    <result column="is_blank" jdbcType="INTEGER" property="isBlank"/>
    <result column="pid" jdbcType="VARCHAR" property="pid"/>
    <result column="perms" jdbcType="VARCHAR" property="perms"/>
    <result column="type" jdbcType="INTEGER" property="type"/>
    <result column="icon" jdbcType="VARCHAR" property="icon"/>
    <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="childcount" jdbcType="INTEGER" property="childCount"/>
  </resultMap>
  <sql id="Base_Column_List">
    id
    , name, description, url, pid, perms, type, icon, order_num
  </sql>
  <select id="findAll" resultMap="BaseResultMap">

    select *, (select count(1) from def_permission where pid = a.id) childcount
    from def_permission a
  </select>

  <select id="findByAdminUserId" parameterType="Integer" resultMap="BaseResultMap">
    select distinct p.*, (select count(1) from def_permission where pid = p.id) childcount
    from rel_permission_role spr,
         rel_role_user sru,
         def_permission p
    where spr.role_id = sru.role_id
      AND spr.permission_id = p.id
      and p.status = 0
      AND sru.user_id = #{userId}
    GROUP BY p.id
    ORDER BY order_num is null ASC, order_num ASC
  </select>

  <select id="queryRoleId" parameterType="String" resultMap="BaseResultMap">
    select p.*
    from t_sys_permission p
           left join t_sys_permission_role pr on p.id = pr.permission_id
    where pr.role_id = #{roleid}

  </select>

  <select id="queryPermsList" parameterType="String" resultType="String">
    select perms
    from def_permission p
           left join rel_permission_role pr on p.id = pr.permission_id
    where pr.role_id = #{roleId}

  </select>


</mapper>