<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fastproject.mapper.UserMapper">
  <resultMap id="UserRoleMap" type="UserRoleVo">
    <result column="real_name" property="realName"/>
    <result column="employee_id" property="employeeId"/>
        <collection property="roles" ofType="Role">
          <result column="id" property="id"/>
          <result column="name" property="name"/>
          <result column="code" property="code"/>
        </collection>
    <!--    <collection property="departments" ofType="Department">-->
    <!--      <result column="did" property="id"/>-->
    <!--      <result column="dname" property="name"/>-->
    <!--    </collection>-->
  </resultMap>

  <sql id="selectRole">
    SELECT ru.*, r.name as role
    FROM rel_role_usr ru
           LEFT JOIN def_role r ON ru.role_id = r.id
  </sql>

  <sql id="selectDepartment">
    SELECT drel.*, d.name as department
    FROM rel_department_user du
           LEFT JOIN def_department d ON du.department_id = d.id
  </sql>

  <sql id="queryHeader">
    SELECT u.*,
    r.role_id as rid, r.role as rname, d.department_id as did, d.department as dname
    FROM def_user u
    LEFT JOIN (<include refid="selectRole"/>) r
    ON u.id=r.user_id
    LEFT JOIN (<include refid="selectDepartment"/>) d
    ON u.id=d.user_id
  </sql>


  <select id="getAll" resultType="UserResponse">
    SELECT u.*,
    p.NAME AS posName
    FROM def_user u
    LEFT JOIN def_position p ON u.pos_id = p.id
    <if test="e.departmentId != null and e.departmentId !='' ">
      left join rel_department_user du on u.id = du.user_id
    </if>
    <where>
      <if test="e.employeeId!= null and e.employeeId != ''">
        and u.employee_id = #{e.employeeId}
      </if>
      <if test="e.realName != null and e.realName != ''">
        and u.real_name like concat('%', #{e.realName}, '%')
      </if>
      <if test="e.status != null and e.status != ''">
        and  u.status = #{e.status}
      </if>
      <if test="e.departmentId != null and e.departmentId != ''">
        and du.department_id = #{e.departmentId}
      </if>
    </where>
  </select>
  <select id="selectById" resultType="UserResponse">
    select * from def_user where id=#{id}
  </select>

  <select id="getAllUserRole" resultMap="UserRoleMap">
    SELECT
      u.id,
      u.username,
      u.real_name,
      r.id,
      r.CODE,
      u.employee_id
    FROM
      def_user u
        LEFT JOIN rel_role_user ur ON u.id = ur.user_id
        LEFT JOIN def_role r ON ur.role_id = r.id
  </select>
</mapper>