<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('模板新增')"/>
</head>
<body>
<form class="layui-form" action="">
  <div class="mainBox">
    <div class="main-container" id="form-container">

<!--        <div class="layui-form-item">-->
<!--          <label class="layui-form-label required">字段名称</label>-->
<!--          <div class="layui-input-block">-->
<!--            <input type="text" name="fieldName" value="123">-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
    </div>
  </div>
  <div class="bottom">
    <div class="button-container">
      <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
              lay-filter="customer-save">
        <i class="layui-icon layui-icon-ok"></i>
        提交
      </button>
      <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
        <i class="layui-icon layui-icon-refresh"></i>
        重置
      </button>
    </div>
  </div>
</form>
<th:block th:include="include :: footer"/>
<script>
  layui.use(['form', 'jquery'], function () {
    let form = layui.form;
    let $ = layui.jquery;
    let MODULE_PATH = rootPath + "/CustomerController";

    var customerId = [[${customerId}]]

    $.ajax({
      url: MODULE_PATH + "/"+ customerId,
      dataType: 'json',
      type: 'GET',
      success: function (customer) {
        $.each(customer, function (index, obj) {
          var formItem= `<div class='layui-form-item' id='item-${index}'></div>`;
          var label = `<label class="layui-form-label">${obj.fieldName}</label>`;
          var input = ` <div class="layui-input-block"><input type="text" name="${obj.fieldId}" value="${obj.value}" class="layui-input"></div>`
          $("#form-container").append(formItem);
          $(`#item-${index}`).append(label)
          $(`#item-${index}`).append(input)
        })
        form.render();
      }
    })

    form.on('submit(customer-save)', function (data) {
      $.ajax({
        url: MODULE_PATH + '/add',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'post',
        success: function (result) {
          if (result.code == 200) {
            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
              parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
              parent.layui.table.reload("customer-table");
            });
          } else {
            layer.msg(result.msg, {icon: 2, time: 1000});
          }
        }
      })
      return false;
    });
  })
</script>
</body>
</html>